body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: aliceblue;
    color: darkslategray;
}

h1 {
    color: steelblue;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: whitesmoke;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid lightgray;
    padding: 8px;
    text-align: center;
}

th {
    background-color: steelblue;
    color: white;
}

tr:nth-child(even) {
    background-color: white;
}

tr:hover {
    background-color: lightgray;
}

td {
    background-color: whitesmoke;
}
