<!DOCTYPE html>
<html>
  <head>
    <title>Climate Ping</title>
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}" type="image/png">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <h1>Climate Ping</h1>
    <h2>Current Weather in La Plata</h2>
    <img src="{{ url_for('static', filename='logo.png') }}" alt="ClimatePing Logo" height="50">
    <ul>
      <li>Temperature : {{ current_temperature_2m | round(1) }}°C</li>
      <li>Apparent Temperature: {{ current_apparent_temperature | round(1) }}°C</li>
      <li>Precipitation: {{ current_precipitation }} mm</li>
    </ul>
    <h2>Daily Forecast</h2>
    <table>
      <tr>
        <th>Date</th>
        <th>Temperature Max</th>
        <th>Temperature Min</th>
        <th>Precipitation Probability Max</th>
      </tr>
      {% for index, row in daily_dataframe.iterrows() %}
      <tr>
        <td>{{ row.date.strftime('%A %d/%m/%Y') }}</td>
        <td>{{ row.temperature_2m_max | round(1)}}°C</td>
        <td>{{ row.temperature_2m_min | round(1)}}°C</td>
        <td>{{ row.precipitation_probability_max }}%</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
